.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

iframe {
    border: 2px solid gray;
}

.articles-container {
    display: grid;
    grid-template-columns: 10% auto 30%;
}


.grid-col {
    grid-column-start: 2;
    grid-column-end: 2;
}

.title-left {
    color: gray;
    font-size: 200%;
    float:left;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.edit {
    padding-top: 10px;
    float:left;
}

.review {
    padding-top: 5px;
    float:left;
}

.delete {
    padding-top: 14px;
    float:left;
}

.level {
    background-color: #20b899;
    color: white;
    font-size: medium;
    float: left;
    padding:5px;
    border-radius: 2px;
}

.clear-both {
    clear: both;
}
.subtitle {
    color: gray;
    font-size: small;
}
