.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

iframe {
    border: 2px solid gray;
}

.articles-container {
    display: grid;
    grid-template-columns: 10% auto 30%;
}


.grid-col {
    grid-column-start: 2;
    grid-column-end: 2;
}

.title-left {
    color: gray;
    font-size: 250%;
    font-weight: bold;
    float:left;
}

.page-title {
    font-size: 150%;
    font-weight: bold;
    opacity: 80%;
    color: #20b899;
    text-align: center;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.edit {
    padding-top: 10px;
    float:left;
}

.review {
    padding-top: 5px;
    float:left;
}

.delete {
    padding-top: 14px;
    float:left;
}

.level {
    background-color: #20b899;
    color: white;
    font-size: medium;
    float: left;
    padding:5px;
    border-radius: 2px;
}

.clear-both {
    clear: both;
}
.subtitle {
    color: gray;
    font-size: small;
}

img {
    width: 40%;
    float: left;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.domains-container {
    border-radius: 3px;
    color: black;
    width: 600px;
    height: 200px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f3f3f4;
}

.domains-content {
    width: 500px;
    height: 300px;
    padding: 20px;
}
