.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

iframe {
    border: 2px solid gray;
}

.articles-container {
    display: grid;
    padding: 1%;
}

.text1 {
    color: gray;
    font-size: large;
}

.text2 {
    background-color: #20b899;
    color: white;
    font-size: medium;
}


.date {
    color: gray;
    font-size: small;
}