.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

iframe {
    border: 2px solid gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

input {
    border-radius: 3px;
    background-color: #f3f3f4;
    margin: 10px;
}

textarea {
    border-radius: 3px;
    background-color: #f3f3f4;
}

label {
    color: gray;
    font-weight: bold;
    opacity: 50%;
}

select {
    margin: 5px;
}

.page-title {
    font-size: 150%;
    font-weight: bold;
    opacity: 80%;
    color: #20b899;
    text-align: center;
}