.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

.iframe {
    border: 1px solid gray;
}

.articles-container {
    display: grid;
    padding: 1%;
}


