.container-colored {
    background-color: #f6f4f5;
    border-bottom-color: cadetblue;
}

button {
    background-color: #20b899;
}

.fa-solid {
    color: grey;
}

.iframe {
    border: 1px solid gray;
}

.articles-container {
    display: grid;
    padding: 1%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
