<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
        <link rel="stylesheet" th:href="@{/css/form.css}" />
    </head>

    <body>
        <div class="container">
            <form enctype="multipart/form-data" method="post" th:action="@{/articles}" th:object="${article}">
                <input type="text" th:field="*{name}" placeholder="Name"/>
                <textarea type="text" th:field="*{description}" rows="5" cols="50" placeholder="Description"></textarea>
                <select th:field="*{level}">
                    <option th:each="level : ${levels}"
                            th:value="${level}"
                            th:text="${#strings.capitalize(level.name().toLowerCase())}">
                    </option>
                </select>

                <select multiple th:field="*{domains}">
                    <option th:each="domain : ${domains}"
                            th:value="${domain.id}"
                            th:text="${domain.name}">
                    </option>
                </select>

                <input type="file" name="document"/>

                <button type="submit">Save</button>
            </form>
        </div>
    </body>

</html>