<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div th:replace="menu :: menu"></div>
    <div class="container">
        <form enctype="multipart/form-data" method="post" th:action="@{/domains/save}" th:object="${domain}">
            <label>Name:</label>
            <input type="text" th:field="*{name}" required/>
            <br/>

            <button type="submit">Save</button>
        </form>
    </div>

</body>