<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
    <div th:replace="menu :: menu"></div>
    <br/>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <a href="#" th:href="@{'/domains/form'}">Add new domain</a>
    </div>
    <br/>
    <tr th:each="domain, stat : ${domains}"
        th:class="${stat.odd}? 'table-light':''">
        <a href="#" th:href="@{'/articles/domain/' + ${domain.id}}"><div th:text="${domain.name}"></div></a>
<!--        <span th:class="'bi bi-' + ${domain.image}"></span>-->
        <br/>
        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <td><a href="#" th:href="@{'/domains/delete/' + ${domain.id}}"><i class="fa-solid fa-trash"></i></a></td>
        </div>
    </tr>
    </body>
</html>