<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Reviewer</title>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<!--<div class="container-colored">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->
<!--        <a class="nav-link" th:href="@{'/'}"> <img src="/logo.png" style="width: 40%; height: auto">  </a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav ml-auto topnav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{'/articles'}">Articles</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{'/domains'}">Domains</a>-->
<!--                </li>-->
<!--                <li class="nav-item" th:if="${currentRole == 'ROLE_ADMIN' || currentRole == 'ROLE_WRITER'}">-->
<!--                    <a class="nav-link btn-primary" th:href="@{'/articles/form'}">-->
<!--                        <i class="fas fa-plus-circle"></i>Post-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav ms-auto topnav">-->

<!--                    <li class="nav-item" th:if="${currentUser == null}">-->
<!--                        <a class="nav-link btn-primary user-button" th:href="@{'/login'}">-->
<!--                            <i class="fas fa-sign-in-alt"></i> Sign In-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li class="nav-item" th:if="${currentUser == null}">-->
<!--                        <a class="nav-link btn-primary user-button" th:href="@{'/participant/form'}">-->
<!--                            <i class="fas fa-user-plus"></i> Register-->
<!--                        </a>-->

<!--                    </li>-->


<!--                <li class="nav-item" th:if="${currentUser != null}">-->
<!--                     <div lass="nav-link" th:text="${currentUser}"></div>-->
<!--                </li>-->

<!--                <li class="nav-item" th:if="${currentUser != null}">-->
<!--                    <form id="logout-form" th:action="@{/logout}" method="post">-->
<!--                        <button type="submit" class="nav-link btn-primary">-->
<!--                            <i class="fas fa-sign-out-alt"></i> Logout-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<div th:replace="menu :: menu"></div>

</body>
</html>