<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Reviewer</title>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>


    <div th:if="${#authentication.name != 'anonymousUser'}">
        <div th:replace="menu :: menu"></div>
    </div>

    <div class="container">
        <br/>
        <div class="title">Welcome to MyReviewer</div>
        <br/>
        <p class="desc">Academic writers can now connect to reviewers in a simple way.</p>
        <br/>
    </div>
    <div class="button-container">
        <a th:href="@{'/articles'}">Articles</a>
        <a th:href="@{'/domains'}">Domains</a>
    </div>

    <div class="icons">
        <i style="grid-column: 1;"></i>
        <i class="fa fa-flask" style="grid-column: 2; color: #20b853"></i>
        <i class="fa fa-calculator" style="grid-column: 3; color: #20b88f"></i>
        <i class="fa fa-graduation-cap" style="grid-column: 4; color: #20b8b3"></i>
        <i class="fa fa-map" style="grid-column: 5; color: #20a1b8"></i>
        <i class="fa fa-pencil" style="grid-column: 6; color: #597cb3"></i>
        <i class="fa fa-hourglass-half" style="grid-column: 7; color: #868f9d"></i>
        <i style="grid-column: 8;"></i>
    </div>



</body>
</html>