<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/articles.css}" />
</head>

<body>
    <div th:replace="menu :: menu"></div>
    <br/>
    <div class="container">
        <div class="page-title">Reviews</div>

        <tr th:each="review, stat : ${reviews}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${review.getReviewer().getName()}">Reviewed by:</td>
            <br/>
            <td th:text="${review.getGrade()}">Grade</td>
            <br/>
            <td th:text="${review.getFeedback()}">Feedback</td>
            <br/>
            <br/>
            <div th:if="${review.getReviewer().getName() == #authentication.getName()}">
                <td><a href="#" th:href="@{'/reviews/edit/' + ${review.id}}"><i class="fa-solid fa-pen"></i></a></td>
                <td><a href="#" th:href="@{'/reviews/delete/' + ${review.id}}"><i class="fa-solid fa-trash"></i></a></td>
            </div>
            <hr/>
        </tr>
    </div>
</body>