<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">

        <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
        <link rel="stylesheet" th:href="@{/css/form.css}" />
    </head>

    <body>
        <div th:replace="menu :: menu"></div>
        <br/>
        <div class="container">
            <form enctype="multipart/form-data" method="post" th:action="@{/articles/{id}/review(id=${articleId})}" th:object="${review}">
                <label>Grade:</label>
                <input type="text" th:field="*{grade}" required/>
                <br/>
                <label>Feedback:</label>
                <textarea type="text" th:field="*{feedback}" rows="5" cols="50"></textarea>
                </br>

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>